{% extends "base.html" %}

{% block head %}
<h1>Login Now</h1>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col text-center">
        <form method="POST">
            {{ form.hidden_tag() }}
            <br>
            {{ form.username.label(class="custom-input-label") }} <br> {{ form.username(class="custom-input") }}
            <br>
            {{ form.password.label(class="custom-input-label") }} <br> {{ form.password(class="custom-input") }}
            <br>
            {{ form.submit(class="btn btn-outline-dark") }}
        </form>
    </div>
</div>
{% endblock %}