{% extends "base.html" %}

{% block head %}
<h1>
    Aurthor:
    <i>{{ current_user.username }}</i>
</h1>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col text-center">
        <form method="POST">
            {{ form.hidden_tag() }}
            <br>
            {{ form.title.label(class="custom-input-label") }} <br> {{ form.title(class="custom-input") }}
            <br>
            {{ form.body.label(class="custom-input-label") }} <br> {{ form.body(class="custom-input", rows="5", default="byebye") }}
            <br>
            {{ form.submit(class="btn btn-outline-dark") }}
        </form>
    </div>
</div>
{% endblock %}