{% extends "base.html" %}

{% block body %}
<div class="row text-center" style="margin-top: 250px">
    <div class="col-12 text-center">
        <h1>
            Welcome
            <i>{{ current_user.username }}</i>
        </h1>
    </div>
    <div class="col-12 text-center">
        <a class="btn btn-lg btn-outline-dark my-2" href="{{ url_for('create') }}" role="button">Post Now</a>
    </div>
    <div class="col-12 text-center">
        <a class="btn btn-lg btn-outline-dark" href="{{ url_for('posts') }}" role="button">View All Posts</a>
    </div>
</div>
{% endblock %}